VITE_FIREBASE_API_KEY=AIzaSyCh-wpcQJflz_4p3cbaBFFTm9mLnR91hAA
VITE_FIREBASE_AUTH_DOMAIN=attendance-13d17.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=attendance-13d17
VITE_FIREBASE_STORAGE_BUCKET=attendance-13d17.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=624259998804
VITE_FIREBASE_APP_ID=1:624259998804:web:a699ceb5865d0aaa0079c1
VITE_FIREBASE_MEASUREMENT_ID=G-SE9BBFJ0FQ
