CLASSOPS_IP_MONITOR_STATE_DIR=/var/lib/classops/network
CLASSOPS_PUBLIC_IP_ENDPOINT_PRIMARY=https://api.ipify.org
CLASSOPS_PUBLIC_IP_ENDPOINT_SECONDARY=https://checkip.amazonaws.com
CLASSOPS_IP_ALERT_WEBHOOK_URL=
